.carrossel__container-apresentacao{
    overflow: hidden;
}
.img__apresentacao{
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;

}
.swiper-pagination-apresentacao{
    display: none;
}
@media screen and (min-width: 1024px){
    .img__apresentacao{
        max-width: 100%;
        max-height: 350px;
        object-fit: cover;
    }
    .carrosel-apresentacao{
        display: flex;
        justify-content: center;
    }
    .carrossel__container-apresentacao{
        width: 80vw;
        display: flex;
        justify-content: center;
        border-radius: 15px;

    }
    .img__apresentacao{
        width: 100%;
        height: auto;
        
    }
}
@media screen and (min-width: 1728px){

}
